body {
    box-sizing: border-box;
    margin: 50px auto;
    background-color: #9FB4C7;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-gap: 4px;
    background-color: #2e4057;
    padding: 10px;
    height: 450px;
    width: 300px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.75);
}

.display-box {
    grid-area: 1 / 1 / span 5 / span 4;
    min-height: 50px;
    background-color: #eeeeff;
    padding: 25px 10px 0 0;
    border-radius: 5px;
    font-size: 35px;
    text-align: right;
}

.items {
    background-color: #BCCDB7;
    padding: 20px 0;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.operators, #equals {
    background-color: #F2BD69;
}

#zero {
    grid-column: 1 / 3;
}

#ac, #clear, #sign {
    background-color: #eb9d1e;
}