body {
    box-sizing: border-box;
    margin: 50px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-gap: 5px;
    background-color: #2e4057;
    padding: 10px;
    height: 450px;
    width: 300px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
}

.display-box {
    grid-area: 1 / 1 / span 5 / span 4;
    min-height: 50px;
    background-color: #eeeeff;
    padding: 25px 10px 0 0;
    border-radius: 5px;
    font-size: 25px;
    text-align: right;
}

.items {
    background-color: #BCCDB7;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.operators {
    background-color: #F2BD69;
}

#zero {
    grid-column: 1 / 3;
}